.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    padding: 20px 10px;
}
.card{
    border-radius: 1rem!important;
    display: flex;
    flex-direction: row;
    margin-top: 7%;

}
.cardrow{
    width: 100%;
    padding: 15% 5% 5%;
}
.forgot-password {
    font-size: 12px;
}

.card-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-left {
    background-color: rgb(245, 242, 242);
    border-radius: 15px 0 0 15px;
    margin: -1px 0;
    width: 100%;
}
.login-button {
    float: right;
    background-color: #922c88;
    border-color: #922c88;
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: .75rem 2.6rem .6rem;
    position: relative;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    border-radius: 50px!important;
    position: relative;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15),0 1px 3px 1px rgba(0,0,0,.15)!important;
}